@page "/CollectionPage"
@using FlashCards.WebBlazor.App.Components
@using FlashCards.WebBlazor.Bl.ApiClient
@using FlashCards.WebBlazor.Bl.Facades

@inject NavigationManager Navigation;

<FilterComponent IsCardVisualisationList="@IsCardVisualisation" TypeOfVisualisationChangedEvent="@HandleVisualisation"
                 IsDeleteModeActiveChangedEvent="HandleDeleteMode" SearchTermChangedEvent="HandleCollectionSearch"
                 OrderTypeChangedEvent="HandleCollectionOrder" NumberOfCardsPerPageChangedEvent="HandleCollectionNumberOfCardsPerPage"/>

@if (CardCollectionsExt != null)
{
    <MudStack Class="collectionpage-specific-collection-container" Wrap="Wrap.Wrap" Row AlignItems="AlignItems.Start"
              Justify="Justify.Center">
        @foreach (var item in CardCollectionsExt)
        {
            <CollectionComponent
                Id="@item.Id"
                TValue="Guid"
                Title="@item.Title"
                Description="@item.Description"
                CardCount="@item.NumberOfCards"
                HeaderColor="#ff0000"
                OnCardRun="HandleCardRun"
                OnCardEdit="HandleCardEdit"
                IsExpand="IsCardVisualisation"
                IsSelected="@item.IsSelectedForDelete"/>
        }
    </MudStack>

    <MudPagination Class="pagination-center-wrapper" Color="Color.Primary" Size="Size.Large"
                   Count="_numberOfPages"
                   @bind-Selected="@_selectedPage" @bind-Selected:after="LoadCardCollection"/>
}
else
{
    <div style="text-align: center; margin-top: 200px;">
        <MudProgressCircular Color="Color.Info" Size="Size.Large" Indeterminate="true"/>
    </div>
}


@code{
    [Inject] private CardCollectionWebFacade CardCollectionWebFacade { get; set; } = null!;

    private int _selectedPage = 1;
    private int _pageSize = 32;
    private int _numberOfPages;

    private class CardCollectionExt : CardCollectionListModel
    {
        public bool IsSelectedForDelete { get; set; } = false;
    }

    private List<CardCollectionExt>? CardCollectionsExt { get; set; }

    private string CollectionFilterSearchTerm { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadCardCollection();
        if (CardCollectionsExt != null) 
            _numberOfPages = (CardCollectionsExt.Count / _pageSize) + 1;
    }

    private bool IsCardVisualisation { get; set; } = false;
    private bool IsDeleteModeActive { get; set; } = false;

    private string OrderType { get; set; } = "Title";
    private bool SortDesc { get; set; } = true;

    private void HandleVisualisation(bool value)
    {
        IsCardVisualisation = value;
        StateHasChanged();
    }

    private void HandleDeleteMode(bool value)
    {
        IsDeleteModeActive = value;
        if (!IsDeleteModeActive)
        {
            var result = CardCollectionsExt?.FindAll(s => s.IsSelectedForDelete);
            if (result != null)
                foreach (var item in result)
                {
                    item.IsSelectedForDelete = false;
                }
        }

        StateHasChanged();
    }

    private void HandleCardRun(Guid id)
    {
        var result = CardCollectionsExt?.Find(s => s.Id == id);

        if (result != null && IsDeleteModeActive)
        {
            result.IsSelectedForDelete = !result.IsSelectedForDelete;
        }
        else
        {
            Navigation.NavigateTo($"/PlayInfoPage/{id}");
        }
    }

    private void HandleCardEdit(Guid id)
    {
        Navigation.NavigateTo($"/CollectionEditPage/edit/{id}");
    }

    private async Task HandleCollectionSearch(string term)
    {
        CollectionFilterSearchTerm = term;
        await LoadCardCollection();
        StateHasChanged();
    }

    private async Task HandleCollectionOrder(string orderType)
    {
        if (orderType == "a")
        {
            OrderType = "Title";
            SortDesc = true;
        }
        else if (orderType == "b")
        {
            OrderType = "Title";
            SortDesc = false;
        }
        else if (orderType == "c")
        {
            OrderType = "Title";
            SortDesc = true;
        }
        await LoadCardCollection();
        StateHasChanged();
    }
    
    private async Task HandleCollectionNumberOfCardsPerPage(int number)
    {
        bool isLower = _pageSize > number;
        _pageSize = number;
        
        if(isLower)
            if (CardCollectionsExt != null) _numberOfPages = (CardCollectionsExt.Count / _pageSize) + 1;
        await LoadCardCollection();
        if(!isLower)
            if (CardCollectionsExt != null) _numberOfPages = (CardCollectionsExt.Count / _pageSize) + 1;
        StateHasChanged();
    }

    private async Task LoadCardCollection()
    {
        var collection = await CardCollectionWebFacade.GetAllAsync(nameof(CardCollectionListModel.Title), CollectionFilterSearchTerm, OrderType, SortDesc, _selectedPage, _pageSize);
        CardCollectionsExt = GetExtendedCardCollection(collection);
    }


    private List<CardCollectionExt> GetExtendedCardCollection(ICollection<CardCollectionListModel> collection)
    {
        List<CardCollectionExt> extCollection = new();
        if (extCollection == null) throw new ArgumentNullException(nameof(extCollection));

        foreach (var item in collection)
        {
            extCollection.Add(new CardCollectionExt()
            {
                Id = item.Id,
                Title = item.Title,
                Description = item.Description,
                NumberOfCards = item.NumberOfCards,
                EndTimeForAcceptedAnswers = item.EndTimeForAcceptedAnswers,
                LastModifiedDateTime = item.LastModifiedDateTime,
                LastPlayedDateTime = item.LastPlayedDateTime,
                StartTimeForAcceptedAnswers = item.StartTimeForAcceptedAnswers
            });
        }

        return extCollection;
    }

}