@page "/FlashCards"
@attribute [StreamRendering]

<h3>FlashCardsCollectionListPage</h3>


@if (Cards == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Farenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in Cards)
        {
            <tr>
                <td>@forecast.Otazka Date.ToShortDateString()</td>
                <td>@forecast.SpravnaOdpoved</td>
                <td>@forecast.DoplnujuciPopis</td>
            </tr>
        }
        </tbody>
    </table>
}


@if (CardCollections == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Farenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in CardCollections)
        {
            <tr>
                <td>@forecast.Nazev Date.ToShortDateString()</td>
                <td>@forecast.KonecProAkceptovaniOdpovediDateTime.ToString()</td>
                <td>@forecast.ZacatekProAkceptovaniOdpovediDateTime.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}
